[submodule "backend"]
	path = backend
	url = https://github.com/Etqan-agency/etqan-backend.git
[submodule "dashboard"]
	path = dashboard
	url = https://github.com/Etqan-agency/etqan-dashboard.git
[submodule "infra"]
	path = infra
	url = https://github.com/Etqan-agency/etqan-infra.git
[submodule "tokens"]
	path = tokens
	url = https://github.com/Etqan-agency/etqan-tokens.git
